body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


.share {
    font-weight: bold;
    text-align: right;
    font-size: 1em;
    cursor: pointer;
    text-decoration: underline;
    text-align: right;
}
.share.clicked {
    color: #aaa;
    text-decoration: none;
    cursor: text;
}
.share input[type='text'] {
    font-size: .80em;
}


h1, h2 {
    font-family: Georgia, serif;
}
h1 {
    color: #add8e6;
    font-size: 62pt;
    margin-bottom: .25em;
}
h2 {
    color: #00008b;
    font-size: 26pt;
    margin-top: 0;
}


.restaurant {
    vertical-align: middle;
    font-size: 2em;
    cursor: pointer;
    padding: 5px;
    color: #87ceeb;
}

.restaurant.selected {
    color: black;
    border-radius: 5px;
    background-color: #add8e6;
}

.restaurant .name {
    display: inline-block;
}

.restaurant .score, .restaurant .deleter {
    float: right;
    display: inline-block;
    text-align: right;
}

.restaurant .score {
    padding-right: 25px;
    font-weight: bold;
}

.restaurant .deleter {
    font-family: Helvetica, sans-serif;
    font-size: 24px;
    cursor: pointer;
    color: #888;
    padding-bottom: 5px;
}
.restaurant .deleter:hover {
    font-weight: bold;
}


#new_restaurant input[type='text'], #occasion_form input[type='text'] {
    margin-top: 5px;
    height: 25px;
    width: 400px;
    border: 2px solid #a9a9a9;
    border-radius: 5px;
    font-size: 2em;
}


input.typeover {
    border: 2px solid #a9a9a9;
    color: #ddd;
}
input.typeover.typed {
    color: black;
}


.voting, .prompt {
    font-weight: bold;
    font-size: 2em;
    border: 4px none #ccc;
    border-top-style: dashed;
    margin-top: 50px;
    padding-top: 10px;
}
.voting fieldset {
    margin-top: 15px;
}


#admin {
    border-radius: 5px;
    background-color: #e4e4e4;
    margin: 150px 10px;
    padding: 10px 10px;
    text-align: right;
}


#occasion_form {
    margin-top: 200px;
    text-align: center;
}
#occasion_form input[type='text'] {
    width: 300px;
}
#occasion_form .occasion {
    border: 5px solid #add8e6;
    border-radius: 15px;
    padding: 15px;
}
#occasion_form .title {
    margin-bottom: 10px;
    font-family: Georgia, serif;
    font-size: 4.5em;
    color: #add8e6;
}


span.occasion {
    font-style: italic;
}

.help {
    color: #ccc;
}

.prompt {
    color: #777;
}

