
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


.share {
    font-weight: bold;
    text-align: right;
    font-size: 1em;
    cursor: pointer;
    text-decoration: underline;
    text-align: right;
}


.share.clicked {
    color: #aaa;
    text-decoration: none;
    cursor: text;
}

.share input[type='text'] {
    font-size: .80em;
}


h1, h2 {
    font-family: Georgia, serif;
}

h1 {
    color: #add8e6;
    font-size: 62pt;
    margin-bottom: .25em;
}

h2 {
    color: #00008b;
    font-size: 26pt;
    margin-top: 0;
}


.restaurant {
    vertical-align: middle;
    font-size: 2em;
    cursor: pointer;
    padding: 5px;
    color: #87ceeb;
}

.restaurant.selected {
    color: black;
    border-radius: 5px;
    background-color: #add8e6;
}

.restaurant .name {
    display: inline-block;
}

.restaurant .score {
    padding-right: 25px;
    float: right;
    display: inline-block;
    text-align: right;
    font-weight: bold;
}

#new_restaurant input[type='text'], #occasion_form input[type='text'] {
    height: 25px;
    width: 400px;
    border: 2px solid #a9a9a9;
    border-radius: 5px;
    font-size: 2em;
}

.deleter {
    float: right;
    cursor: pointer;
    text-align: right;
    font-family: Helvetica, sans-serif;
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
    color: #999;
    padding-bottom: 10px;
}

.deleter:hover {
    font-weight: bold;
}

input.typeover {
    border: 2px solid #a9a9a9;
    color: #ddd;
}

input.typeover.typed {
    color: black;
}

.voting, .none {
    font-weight: bold;
    font-size: 2em;
    border: 4px none #ccc;
    border-top-style: dashed;
    margin: 50px 10px;
    padding: 10px 0;
}

.voting fieldset {
    margin-top: 15px;
}

#admin {
    border-radius: 5px;
    background-color: #e4e4e4;
    margin: 150px 10px;
    padding: 10px 10px;
    text-align: right;
}



#occasion_form input[type='text'] {
    width: 300px;
}

#occasion_form {
    position: absolute;
    right: 0;
    left: 0;
    top: 150px;
    margin: auto;
    text-align: center;
    height: 75px;
    width: 400px;
}

#occasion_form .input {
    border: 5px solid #add8e6;
    border-radius: 15px;
    padding: 15px;
}

#occasion_form .title {
    margin-bottom: 10px;
    font-family: Georgia, serif;
    font-size: 4.5em;
    color: #add8e6;
}


span.occasion {
    font-style: italic;
}


/*


.help {
    color: #ccc;
}


#outer {
    width: 850px;
    margin: 0 auto;
}

input[type='button'] {
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    font-size: 20pt;
    color: white;


.clear {
    margin: 50px 10px;
    padding: 10px 0;
}

.none {
    color: #777;
}

.inc {
    cursor: pointer;
}

*/